<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>My Spring Application</title>
</head>

<body>

<header th:insert="blocks/header :: header"></header>

</body>

</html>

<style>
    .message {
        font-family: sans-serif;
        text-align: center;
        color: #2c3e50;
        font-size: 200%;
    }

    a {
        margin: 50px;
    }
</style>